
.story #place {
    display: flex;
    background-image: url("../assets/images/Studio_Koukaki-image_place.png");
    width: 100%;
    min-height: 699px;
    background-size: cover;
    h3 {
      background-image: url("../assets/images/orange_place_bg.png");
      margin-bottom: -1em;
    }
    > div {
      max-width: 580px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 6em;
      p {
        padding-left: 5em;
      }
    }
  }