/* Variables */
$in: ease-in;
$out: ease-out;
$inOut: ease-in-out;
$anim-delay: 0.5s;
$anim-dur: 0.5s;

/* Keyframes */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-in-and-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float-logo {
  0%,
  100% {
    transform: translate3d(-10px, 10px, 0px) scale(1);
  }
  25%,
  75% {
    transform: translate3d(10px, -10px, 5px) scale(1.2);
  }
  50% {
    transform: translate3d(5px, 10px, -5px) scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in-slide-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}

/* Mixins */
@mixin float-logo {
  transform: scale(1.10);
  animation: float-logo 1.5s infinite 3s forwards;
}

@mixin spin {
  transform: rotate(0deg);
  animation: rotate 2s infinite linear;
}

@mixin banner-slide-down {
  transform: translateY(-100px);
  animation: fade-in-slide-down $anim-dur 1 $in forwards;
}

@mixin section-fade-in {
  transform: translateY(100px) $anim-dur $in forwards;
  animation: fade-in-and-up $anim-dur $inOut forwards;

}
/* Animation Classes */

.flower-spin {
  @include spin;

  .activated {
    transform: rotate(360deg);
  }
}

.section-fade-in {
@include section-fade-in;
  &.activated {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-slide-down {
  @include banner-slide-down;
  &.activated {
    transform: translateY(0);
  }
}

.section-title {
  @include section-fade-in;
  &.activated {
    opacity: 1;
    transform: translateY(0);
  }
}
.float-logo {
  @include float-logo;
  &.activated {
    transform: scale(1);
  }
}