.site-footer {
    position: relative;
    display: flex;
    padding-top: 18em;
    padding-bottom: 1em;
    overflow: hidden;
  
    &::before {
      content: url('');
      position: absolute;
      left: 4em;
      top: 0em;
    }
    &::after {
      content: url('');
      position: absolute;
      right: -4em;
      bottom: 7.8em;
    }
}