//Media query so that the burger menu is visible at all times
@media screen and (min-width: #{$breakpoint__large_phone}) {
    .menu-toggle {
        display: block;
    }
}

// New color variables for links
$color__link: black;
$color__link-hover: #FF5C00; //orange+red

@mixin link-hover__outline {
    &:hover,
    &:focus,
    &:active {
        text-shadow: 0 0 10px $color__link-hover;
        color: $color__link;
    }

}

.burger-menu__header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;

    .title-nav {
        text-align: center;
        flex-grow: 1;
        font-weight: bold;
        font-size: 16px;
    }
}

.menu-toggle {
    position: absolute;
    right: 20px;

    .line {
        transition: 1.5s ease-in-out;
        width: 25px;
    }

    &.open {
        .line:nth-child(1) {
            transform: rotate(45deg) translate(1px, 5px);
        }

        .line:nth-child(2) {
            opacity: 0;
        }

        .line:nth-child(3) {
            transform: rotate(-45deg) translate(2px,-6px);
        }
    }
}


.mobile-nav__container {
    position: relative;
    height: 100vh;
    min-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #FFF5E9;
    display: none; // Hide the container initially
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    &.open {
        display: flex;
    }

    .nav__link {
        margin: 100px 0;
        text-align: center;

        a {
            font-family: 'Roboto Mono', monospace;
            font-size: 3.5em;
            color: black;
            text-decoration: none;
            cursor: pointer;

            &:hover, &:active {
                @include link-hover__outline;
            }
        }
    }
}

.nav__logo {
    height: 200px;
    width: auto;
    margin-top: 25px;
}

.nav__link-footer {
    text-align: center;
    margin: 200px 0 20px 0;
    text-decoration:none;
    color: black;
    letter-spacing: 2px;
}


.nav__image {
    position: absolute;
    height: auto;
}

.black-cat {
    top: 600px;
    right: 300px;
    width: 120px;
    animation: floating 20s infinite alternate;
}

.orange-cat {
    top: 950px;
    left: 150px;
    width: 120px;
    animation: floating 30s infinite reverse;
}

.purple-cat {
    top: 240px;
    left: 370px;
    width: 120px;
    animation: floating 26s infinite alternate-reverse;
}

.flower {
    animation: spin-flowers 15s linear infinite;
}

.orchid {
    top: 152px;
    left: -70px;
}

.spotted-flower {
    width: 60px;
    top: 650px;
    left: 200px;
}

.random-flower {
    width: 100px;
    right: -50px;
    top: 540px;
}

.sunflower {
    width: 200px;
    top: 170px;
    right: 280px
}

.hibiscus {
    width: 500px;
    top: 960px;
    right: -200px;
}