#studio {
    position: relative;
    margin-top: 3em;

    h2 {
        overflow: hidden;
        background-image: url("../assets/images/purple_studio_bg.png");
        background-size: contain;
        &::before {
            content: url('../assets/images/random_flower.png');
            position: absolute;
            left: -1em;
            top: 0;
        }

        &::after {
            content: url('../assets/images/flower.png');
            position: absolute;
            right: 1em;
            top: 1.2em;
        }
    }

    > div {
        display: flex;
        justify-content: space-between;
        width: 66.66%;
        margin: auto;

        &::before {
            content: url('../assets/images/trple-leaf.png');
            position: absolute;
            left: calc(50% - 17.225px);
            top: 40%;
        }

        p {
            width: 44.5%;
        }
    }
}

/************************* MEDIA QUERIES *************************/

// Mobile (320px to 699px)
@media screen and (min-width:320px) and (max-width:$breakpoint__large_phone){
    #studio {
        margin-top: 2em;

        h2 {
            font-size: 1.5em;
            &::before, &::after {
                content: none;
            }
        }

        > div {
            width: 80%;

            &::before {
                content: none;
            }

            p {
                width: 100%;
            }
        }
    }
}

// Small tablet (700px to 919px)
@media screen and (min-width:$breakpoint__large_phone) and (max-width:919px){
    #studio {
        h2 {
            font-size: 2.5em;
            &::before, &::after {
                content: none;
            }
        }

        > div {
            width: 80%;

            &::before {
                content: none;
            }

            p {
                width: 100%;
            }
        }
    }
}

// Tablet (920px to 1199px)
@media screen and (min-width: $breakpoint__small_tablet) and (max-width: $breakpoint__tablet){
    #studio {
        h2 {
            &::before {
                position: absolute;
                left: -2em;
                top: 0;
            };

            &::after {
                position: absolute;
                right: -1em;
                top: 1em;
            }
        }

        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            &::before {
                position: absolute;
                left: calc(50% - 17.225px);
                top: 40%;
            }

            p {
                width: 42.5%;
            }
        }
    }
}
