#characters-swiper {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    min-height: 500px;
    margin: 100px 0;
    display: flex;

    h3 {
        background-image: url('../assets/images/orange_characters_bg.png');
        background-size: contain;

        span {
            display: inline-block;  
            text-align: center;
            padding: 5px;
        }
    }

    .swiper-container {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .mySwiper {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden;

            .swiper-wrapper {
                height: 100%;

                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 80%;
                        height: 80%;
                    }
                }
            }
        }
    }
}


/************************* MEDIA QUERIES *************************/

// Mobile 
@media screen and (min-width: 320px) and (max-width: 699px) {
    #characters-swiper {
        width: 100%;
        overflow: hidden;
        margin: 0;
        min-height: 400px;

        h3 {
            font-size: 1.5em;
            min-height: 100px;
        }

        .swiper-container {
            width: 100%;
            max-height: 500px;
            overflow: hidden;

            .swiper-wrapper, .mySwiper, .swiper-slide {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

        .swiper-slide {
            object-fit: contain;

            img {
                max-height: 50%;
                max-width: 50%;
        }
    }
}

// Small Tablet (700px to 919px)
@media screen and (min-width: $breakpoint__large_phone) and (max-width: $breakpoint__small_tablet) {
    #characters-swiper {
        min-height: 400px;
        width: 100%;
        overflow: hidden;
        margin: 0;

        h3 {
            font-size: 2em;
        }

        .swiper-container {
            width: 100%;
            max-height: 500px;
            overflow: hidden;
            
            .mySwiper, .swiper-wrapper, .swiper-slide {
                width: 100%;
                height: 100%;
            }
        }
    }
        .swiper-slide {
            object-fit: cover;

            img {
                height: 100%;
                width: 100%;
            }
        }
}

// Tablet to laptop (920px to 1039px)
@media screen and (min-width: $breakpoint__small_tablet) and (max-width: $breakpoint__tablet) {
    #characters-swiper {
        min-height: 400px;
        max-width: 1039px;
        overflow: hidden;
        margin: 0;


        .swiper-container {
            width: 100%;
            max-height: 500px;
            overflow: hidden;
            
            .mySwiper, .swiper-wrapper, .swiper-slide {
                width: 100%;
                height: 100%;
            }
        }
    }
        .swiper-slide {
            object-fit: cover;

            img {
                height: 100%;
                width: 100%;
            }
        }
}

// Tablet to laptop (1040px to 1192px)
@media screen and (min-width:$breakpoint__tablet) and (max-width: $breakpoint__laptop) {
    #characters-swiper {
        min-height: 400px;
        max-width: 1192px;
        overflow: hidden;
        margin: 0;
        width: 100%;
        padding-bottom: 50px;

        .swiper-container {
            width: 100%;
            max-height: 500px;
            overflow: hidden;
            
            .mySwiper, .swiper-wrapper, .swiper-slide {
                width: 100%;
                height: 100%;
            }
        }
    }
        .swiper-slide {
            object-fit: cover;

            img {
                height: 100%;
                width: 100%;
            }
        }
}

@media screen and (min-width: $breakpoint__laptop) {
    #characters-swiper {
        min-height: 400px;
        max-width: 1440px;
        overflow: hidden;
        margin: 0;
        width: 100%;
        padding-bottom: 50px;

        .swiper-container {
            width: 100%;
            max-height: 500px;
            overflow: hidden;
            
            .mySwiper, .swiper-wrapper, .swiper-slide {
                width: 100%;
                height: 100%;
            }
        }
    }
        .swiper-slide {
            object-fit: cover;

            img {
                height: 100%;
                width: 100%;
            }
        }
}